<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button color="secondary" menuToggle>Toggle Menu</button>
  <button ion-button navPop>Back</button>

</ion-content>
